    <html>
        <head>
            <title>Aygul's blog</title>
        </head>
        <body>
	        <div>
	        Hi there, I'm Aygul
	        </div>
	            <p>
	            	<strong>Social networks</strong>
	            	<ul>
	            	<li><a href="https://vk.com/woflight">VK</a></li>
	            	<li><a href="https://www.facebook.com/aygul.yul">FB</a></li>
	            	<li><a href="https://twitter.com/woflight">Twitter</a></li>
	            	</ul>
	            </p>
            <div>
                {{ posts }}
            </div>

            lalala
        </body>
    </html>